:host {
  .list-group-item.component {
    .action-bar {
      position: absolute;
      right: 10px;
      top: 10px;
      display: none;
    }
    &:hover {
      .action-bar {
        display: inline-block;
      }
    }
  }
}

::ng-deep
.uif-component-modal-window {
  margin-left: inherit;
  margin-right: inherit;

  .modal-content {
    width: 90vw;
    margin-left: 5vw;
    .close-button {
      z-index: 30;
      position: absolute;
      top: 13px;
      right: 13px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
