<div class="view">
  <div class="plane main">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div>
<img src="https://lh3.googleusercontent.com/8K4pduPi_3_Ot1gHn0dplFP7jhL6HhIPHqvF7J_F42YRQbp5yPv8oz76b8OH0VH4A5zYHRCJx6K5AtfgJUvUtzrHprYyHmNYV6BEVr5M-omzgSBOB4Bb59LZZsRPu_WG8424JO49UUiqxo1z4e8F0Ahp79lRSfbqvC2yVjmbQPIaRI8aApV5X8DWUQfY3ZPW7oslkH9Gr9I3vR76aJIQakFAMG5N0gyyTzifSK9yXPcImMSaXL6YnWvXcLUG6UP4d-LafnNDxp3Ep2XtdJXJJGBOithnKaH_rYp70Vv07_3OFCn2X9QuWsHQLzrRMwO7gDhSUPiEMIv1UGERybRq-Z_Xtr7jO5RdxcwDC9Lvgi2n0exUrr-3jR6-PcohXAQvHWg50mii4_8HAD4jaOcpajRI3t08ZXMk-Xv6eWx6RtjClWurrxal0J-0_kSig83TXumdSnljBxjShZA-CEWfPCS_x7A2wHWtbsDu3xl72nRHwg79A1Jljwc1QKVFnA0IrXmLbkULdAqYQO05NjbI0v09VvSlOhxQlnFUUuBCa-07XQg7P3unBh9VjC0L4qYF2u4ia1yDgS-JjkW5QbMKiTlbjB7kruakbTUZW-C9Ot_MzbSPQZ0roPbbAh-XLQMjA84hspuks-WgvYW_CQ2zp9IYg3Tmt7gUbXzP8xMPtRracgBw42HS_IAv=w904-h664-no" class="logo" />
<label class="pleas-wait-label">Please wait...</label>
