<div class="middle-panel">
  <div class="ui-studio-page" *ngIf="(isPreview$ | async) as isPreview" [class.preview]="isPreview=='show'" id="demo-page" #uiStudioPage>
    <div class="container-fluid">
      <div #canvas class="ui-studio-page row d-block">

      </div>
    </div>
    <!--<button *ngIf="isPreview=='show'" class="btn btn-outline-primary hide-preview-button" (click)="deviceSimulatorService.hidePreview()">
      Hide Preview <i class="fa fa-caret-right ml-2"></i>
    </button>
    <nav class="navbar navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="#">Navbar</a>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="alert alert-primary"> A simple primary alert—check it out!</div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="alert alert-success"> A simple success alert—check it out!</div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="alert alert-danger"> A simple danger alert—check it out!</div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 mb-5">
            <div class="alert alert-warning"> A simple warning alert—check it out!</div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 mb-5">
            <div class="alert alert-info"> A simple info alert—check it out!</div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 mb-5">
            <div class="alert alert-dark"> A simple dark alert—check it out!</div>
          </div>
        </ng-container>
      </div>
    </div>-->
  </div>
</div>
