
.middle-panel {
  background: white;
  display: inline-block;
  width: calc(100vw - 400px);
  margin-top: 68px;
  height: calc(100vh - 68px);
  border: 10px solid #333;
  border-top: 0px;
  box-sizing: border-box;

  .stage {
    position: fixed;
    background: white;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    margin-left: 210px;
    margin-top: 68px;
    overflow-y: auto;
    padding: 1px;

    &.animation {
      -webkit-transition: ease-in-out all .50s;
      -moz-transition: ease-in-out all .50s;
      -o-transition: ease-in-out all .50s;
      transition: ease-in-out all .50s;
    }

    &.preview {
      width: 100vw !important;
      max-height: 100vh !important;
      height: 100vh !important;
      margin-left: 0px;
      margin-top: 0px;
      z-index: 2000000;
    }
  }

  .ui-studio-page {
    &.preview {
      width: 100vw !important;
      max-height: 100vh !important;
      height: 100vh !important;
      margin-left: 0px;
      margin-top: 0px;
      z-index: 2000000;
      position: fixed;
      left: 0px;
      top: 0px;
      background: white;
    }

    .hide-preview-button {
      position: fixed;
      top: 50%;
      left: -104px;
      opacity: 0.5;
      z-index: 2000000000000000000;
      -webkit-transition: ease-in-out left .50s;
      -moz-transition: ease-in-out left .50s;
      -o-transition: ease-in-out left .50s;
      transition: ease-in-out left .50s;

      .fa {
        font-size: 20px;
      }

      &:hover {
        opacity: 1;
        left: 0px;

      }
    }
  }

  ::ng-deep
  .ui-studio-page, .ui-studio-container, .ui-studio-component {
    &:hover {
      /*border: 1px solid red;*/
    }
  }

  .action-buttons {
    position: absolute;
    z-index: 10;
    -webkit-transition: ease-in-out all 200ms;
    -moz-transition: ease-in-out all 200ms;
    -o-transition: ease-in-out all 200ms;
    transition: ease-in-out all 200ms;

    &:hover {
      transform: scale(1);
    }

    button {
      padding: 3px 5px;
      font-size: 15px;
      width: 30px !important;
      height: 30px !important;
      border-radius: 0px;
      border: 1px solid black;
    }
  }
}


