
.middle-panel {
  background: white;
  display: inline-block;
  width: calc(100vw - 550px);
  margin-top: 68px;
  height: calc(100vh - 68px);
  border: 10px solid #333;
  border-top: 0px;
  box-sizing: border-box;

  .stage {
    position: fixed;
    background: white;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    margin-left: 310px;
    margin-top: 68px;
    overflow-y: auto;
    padding: 1px;

    .hide-preview-button {
      position: fixed;
      top: 50%;
      left: -104px;
      opacity: 0.5;
      z-index: 2000000000000000000;
      -webkit-transition: ease-in-out left .50s;
      -moz-transition: ease-in-out left .50s;
      -o-transition: ease-in-out left .50s;
      transition: ease-in-out left .50s;
      .fa{
        font-size: 20px;
      }
      &:hover {
        opacity: 1;
        left: 0px;

      }
    }

    &.animation {
      -webkit-transition: ease-in-out all .50s;
      -moz-transition: ease-in-out all .50s;
      -o-transition: ease-in-out all .50s;
      transition: ease-in-out all .50s;
    }

    &.preview {
      width: 100vw !important;
      max-height: 100vh !important;
      height: 100vh !important;
      margin-left: 0px;
      margin-top: 0px;
      z-index: 2000000;

      /*transform: scale(1, 1) translate(0, 0) !important;
      z-index: 2000000;*/
    }
  }
}


