/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden !important;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.draggable {
  position: fixed;
  cursor: move;
  z-index: 20000000000000000000000;
}
